<div class="main-agileits">
  <h2 class="sub-head"></h2>
    <div class="sub-main">
      <%= form_for :session, url: login_path do |f| %>

        <%= f.text_field :email, class: "mail", placeholder: t("session.new.email") %>

        <%= f.password_field :password, class: "pass", placeholder: t("session.new.password") %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span><%= t ".remember_password" %></span>
        <% end %>
        <%= f.submit t(".login"), class: "btn btn-primary btn-block" %>
      <% end %>
      <div class="text-center">
        <%= link_to "signup", class: "d-block small mt-3" do %>
          <%= t ".register_account" %>
        <% end %>
        <%= link_to "#", class: "d-block small" do %>
          <%= t ".forgot_password" %>
        <% end %>
      </div>
    </div>
  <div class="clear"></div>
</div>
