<% provide(:title, t(".sign_up")) %>

<div class="main-agileits">
  <h2 class="sub-head"><%= t(".sign_up") %></h2>
    <div class="sub-main">
      <%= form_for(@user, url: signup_path) do |f| %>
        <%= render "shared/error_messages" %>

        <%= f.text_field :name, class: "name", placeholder: t("users.new.name") %>

        <%= f.text_field :address, class: "name2", placeholder: t("users.new.address") %>

        <%= f.text_field :phone, class: "number", placeholder: t("users.new.phone") %>

        <%= f.text_field :email, class: "mail", placeholder: t("users.new.email") %>

        <%= f.password_field :password, class: "pass", placeholder: t("users.new.password") %>

        <%= f.password_field :password_confirmation, class: "pass", placeholder: t("users.new.confirm_password") %>

        <input type="submit" value="sign up">
      <% end %>
    </div>
  <div class="clear"></div>
</div>
