<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <%= link_to t("flower"), root_url, class: "navbar-brand" %>
    <%= button_tag type: "button", class: "navbar-toggler navbar-toggler-right",
      data: {toogle: "collapse", target: "#navbarResponsive"}, aria: {controls:
      "navbarResponsive",expanded: "false", label: "Toggle navigation"} do %>
      <%= content_tag(:span, class: "navbar-toggler-icon")%>
    <% end %>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    </ul>
    <%= render "admin/home/headermenu" %>
    <%= render "admin/home/menu" %>
  </div>
</nav>
