<div class="content-wrapper">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t(".content"), "#"%>
      </li>
      <li class="breadcrumb-item active"><%= t ".table" %></li>
    </ol>
    <div class="card mb-3">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" cellspacing="0">
            <thead>
              <tr>
                <th><%= t ".stt" %></th>
                <th><%= t ".name" %></th>
                <th><%= t ".price" %></th>
                <th><%= t ".sale" %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                <%= button_tag t("update"),
                  class: "btn btn-info btn-add btn-movie-update" %>
                <%= button_tag t("delete"),
                  class: "btn btn-danger btn-add btn-movie-delete" %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
