<div class="row">
  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i>&nbsp;<%= t "admin.categories.kind"%>
        <%= link_to t("admin.categories.read_more"), admin_kinds_path,
          style: "float: right;" %>
      </div>
      <%= render "details_categories", object: @kinds %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i>&nbsp;<%= t "admin.categories.occasion"%>
        <%= link_to t("admin.categories.read_more"), admin_occasions_path,
          style: "float: right;" %>
      </div>
      <%= render "details_categories", object: @occasions %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i>&nbsp;<%= t "admin.categories.color"%>
        <%= link_to t("admin.categories.read_more"), admin_colors_path,
          style: "float: right;" %>
      </div>
      <%= render "details_categories", object: @colors %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i>&nbsp;<%= t "admin.categories.design"%>
        <%= link_to t("admin.categories.read_more"), admin_designs_path,
          style: "float: right;" %>
      </div>
      <%= render "details_categories", object: @designs %>
    </div>
  </div>
</div>
