  <div class="col-md-4 col-sm-6 text-center animate-box">
    <div class="product">
      <%= image_tag p.img, alt: "flower", class: "img-product" %>
      <div class="product-grid">
        <% if(p.sale != 0) %>
        <span class="sale"><%= t ".sale" %></span>
        <% end %>
        <div class="inner">
          <p>
            <%= link_to product_path(p), class: "icon" do %>
            <i class="icon-shopping-cart"></i>
            <% end %>
            <%= link_to product_path(p), class: "icon" do %>
            <i class="icon-eye"></i>
            <% end %>
          </p>
        </div>
      </div>
      <div class="desc">
        <h3><%= link_to p.name, details_path %></h3>
        <% if (p.sale != 0) %>
          <span class="price text">$<%= p.price %></span>
          <span class="sale">$<%= p.sale %></span>
        <% else %>
          <span class="price">$<%= p.price %></span>
        <% end %>
      </div>
    </div>
  </div>

