  <div class="col-md-4 col-sm-6 text-center animate-box">
    <div class="product">
      <%= image_tag p.img.url, alt: "flower", class: "img-product" %>
      <div class="product-grid">
        <% if(p.sale != 0) %>
        <span class="sale"><%= t ".sale" %></span>
        <% end %>
        <div class="inner">
          <p>
            <%= link_to product_path(p), class: "icon" do %>
            <i class="icon-eye"></i>
            <% end %>
          </p>
        </div>
      </div>
      <div class="desc">
        <%= form_for :session, url: {controller: "carts", action: "create"}, remote: true do |f| %>
          <%= f.hidden_field :product_id, value: p.id %>
          <%= f.submit "Add to cart", class: 'btn btn-primary btn-sm' %>
        <% end %>
        <h3><%= link_to p.name, product_path(p.id) %></h3>
        <% if (p.sale != 0) %>
          <span class="price text">$<%= p.price %></span>
          <span class="sale">$<%= p.sale %></span>
        <% else %>
          <span class="price">$<%= p.price %></span>
        <% end %>
      </div>
    </div>
  </div>


