<footer id="fh5co-footer" role="contentinfo">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-5 fh5co-widget">
        <h3><%= t ".name_shop" %></h3>
        <p><%= t ".address" %></p>
        <p>
          <ul class="fh5co-social-icons">
            <li>
              <%= link_to "#" do %>
              <i class="icon-twitter"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
              <i class="icon-facebook"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
              <i class="icon-linkedin"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
              <i class="icon-dribbble"></i>
              <% end %>
            </li>
          </ul>
        </p>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-6 col-md-push-1">
        <ul class="fh5co-footer-links">
          <li>
            <%= link_to t(".topic"), "#" %>
          </li>
          <li>
           <%= link_to t(".type"), "#" %>
         </li>
         <li>
          <%= link_to t(".fashion"), "#" %>
        </li>
        <li>
         <%= link_to t(".about"), "#" %>
       </li>
     </ul>
   </div>
   <div class="col-md-3 col-sm-4 col-xs-6 col-md-push-1">
    <ul class="fh5co-footer-links">
      <li>
       <%= link_to t(".h-contact"), contacts_path  %>
     </li>
   </div>
 </div>

 <div class="row copyright">
  <div class="col-md-12 text-center">
    <p>
      <small class="block"><%= t ".bazon" %></small>
    </p>
  </div>
</div>

</div>
</footer>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
