<div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-2">
          <div id="fh5co-logo">
            <%= link_to t(".logo"), root_path, class: "logo" %>
          </div>
          <%= link_to "English", locale:"en" %>
          <%= link_to "Vietnamese", locale:"vi" %>
        </div>
        <div class="col-md-6 col-xs-6 text-center menu-1">
          <ul>
            <li class="has-dropdown">
              <%= link_to t("topic"), "#", class: "item-nav", data: {toggle: "dropdown"} %>
              <ul class="dropdown list-nav row" id="ocs">
                <% @occasions.each do |o| %>
                <li>
                  <%= link_to o.name, occasion_path(o), class: "col-md-3", data: {id: o.id} %>
                </li>
                <% end %>
              </ul>
            </li>
            <li class="has-dropdown">
              <%= link_to t("type"), "#", class: "item-nav", data: {toggle: "dropdown"} %>
              <ul class="dropdown list-nav ">
                <% @type_flower.each do |t| %>
                <li>
                  <%= link_to t.name, type_path(t), class: "col-md-3" %>
                </li>
                <% end %>
              </ul>
            </li>
            <li class="has-dropdown">
              <%= link_to t("fashion"), "#", class: "item-nav", data: {toggle: "dropdown"} %>
              <ul class="dropdown list-nav">
                <% @design.each do |d| %>
                <li><%= link_to d.name, design_path(d), class: "col-md-3" %></li>
                <% end %>
              </ul>
            </li>
            <li><%= link_to t(".listpost"), posts_path, class: "item-nav" %></li>
            <li><%= link_to t(".about"), about_path, class: "item-nav" %></li>
            <li><%= link_to t(".contact"), contacts_path, class: "item-nav" %></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
          <ul>

            <%= form_tag searchs_url, :method => "get" do %>
            <li class="search">
              <div class="input-group">
                <%= text_field_tag :search, params[:search] %>
                <div class="actions"><%= submit_tag "Search", :name => nil %></div>
              </div>
            </li>
            <%end%>
            <li class="shopping-cart">
              <%= link_to carts_path, class: "cart" do %>
              <span><small><%= current_order.order_items.size %></small><i class="icon-shopping-cart"></i></span>
              <% end %>
            </li>
            <% if logged_in? %>
              <li class="menu dropdown">
                <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
                  <span><i class="icon-user"></i></span>
                <% end %>
                <ul class="dropdown-menu" id="menu" aria-labelledby="dropdownMenuButton">
                  <li><%= link_to t(".profile"), current_user %></li>
                  <li>
                    <%= link_to t(".log-out"), logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <%= link_to t("login"), login_path %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>

