<aside id="fh5co-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li class="firts-side">
        <div class="overlay-gradient"></div>
        <div class="container">

          <div class="row">
            <div class="col-md-6 js-fullheight slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <h2>The Haluz Rocking Chair</h2>
                  <p>Far far ây, behind the word mountains, far from the countries Vokalia and Consonantia, thể live the blind tét. Separated they live in Bookmarksgrove.</p>
                  <p><%= link_to t(".purchase"), "#", class: "btn btn-primary btn-outline btn-lg" %></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 slider-text js-fullheight">
              <div class="slider-text-inner">
                <%= image_tag "8_3.jpg"%>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="second-side">
        <div class="container">

           <div class="row">
            <div class="col-md-6 js-fullheight slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <h2>The Haluz Rocking Chair</h2>
                  <p>Far far ây, behind the word mountains, far from the countries Vokalia and Consonantia, thể live the blind tét. Separated they live in Bookmarksgrove.</p>
                  <p><%= link_to t(".purchase"), "#", class: "btn btn-primary btn-outline btn-lg" %></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 slider-text js-fullheight">
              <div class="slider-text-inner width-height">
                <%= image_tag "14_2.jpg", class: "width-height"%>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="third-side">
        <div class="container">

           <div class="row">
            <div class="col-md-6 js-fullheight slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <h2>The Haluz Rocking Chair</h2>
                  <p>Far far ây, behind the word mountains, far from the countries Vokalia and Consonantia, thể live the blind tét. Separated they live in Bookmarksgrove.</p>
                  <p><%= link_to t(".purchase"), "#", class: "btn btn-primary btn-outline btn-lg" %></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 slider-text js-fullheight">
              <div class="slider-text-inner width-height">
                <%= image_tag "20_11.jpg", class: "width-height"%>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="four-side">
        <div class="container">

           <div class="row">
            <div class="col-md-6 js-fullheight slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <h2>The Haluz Rocking Chair</h2>
                  <p>Far far ây, behind the word mountains, far from the countries Vokalia and Consonantia, thể live the blind tét. Separated they live in Bookmarksgrove.</p>
                  <p><%= link_to t(".purchase"), "#", class: "btn btn-primary btn-outline btn-lg" %></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 slider-text js-fullheight">
              <div class="slider-text-inner width-height">
                <%= image_tag "8_3.jpg", class: "width-height"%>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
